body {
  background: skyblue;
  font-family: arial;
}

h1, h2, h3, p, li, a {
  color: #555;
}

a {
  color: #662B2B;
}

.secondary {
  background: none;
  color: #777;
}

p{
  background: #666;
  color: white;
  padding: 10px;
}

p{
  background: green;
  color: white;
  padding: 10px;
}

#special {
  background: #662B2B;
  color: white;
}
